@model IEnumerable<PhatTrienWeb_Laptop.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MauSac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoXuLy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OCung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManHinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardMH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CongKN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DacBiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HDH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThietKe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KichThuoc_TrongLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Webcam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RaMat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhMuc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MauSac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoXuLy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OCung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManHinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardMH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CongKN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DacBiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThietKe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KichThuoc_TrongLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Webcam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RaMat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMuc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.MaSP }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaSP }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSP }, new { onclick = "return confirm('Bạn chắc chắn muốn xóa ?');" })
            </td>
        </tr>
}
    </tbody>
</table>
