@model IEnumerable<PhatTrienWeb_Laptop.Models.CongKetNoi>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout1.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CongGiaoTiep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KetNoiKhongDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KheDocTheNho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebCam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhNangKhac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DenBanPhim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CongGiaoTiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KetNoiKhongDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KheDocTheNho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebCam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhNangKhac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DenBanPhim)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.MaCKN }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaCKN }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaCKN }, new { onclick = "return confirm('Bạn chắc chắn muốn xóa ?');" })
            </td>
        </tr>
}
    </tbody>
</table>
