@model DoAn_CuaHangLaptop.Models.BoXuLy

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_Layout2.cshtml";
}

<h1>Create</h1>

@using (Html.BeginForm("Create", "BoXuLy", new { style = "border:1px solid red; " }))
{
<table class="table" , style="text-align:center;">
    <tr>
        <td> <b>Dung lượng RAM</b></td>
        <td> @Html.TextBoxFor(bxl => bxl.CongNgheCPU, new { @class = "style" })</td>
    </tr>
    <tr>
        <td> <b>Loại RAM</b> </td>
        <td> @Html.TextBoxFor(bxl => bxl.SoNhan, new { @class = "style" })</td>
    </tr>
    <tr>
        <td> <b>Bus RAM</b></td>
        <td>  @Html.TextBoxFor(bxl => bxl.SoLuong, new { @class = "style" })</td>
    </tr>
    <tr>
        <td> <b>Hỗ trợ tối đa</b></td>
        <td>  @Html.TextBoxFor(bxl => bxl.TocDoCPU, new { @class = "style" })</td>
    </tr>
    <tr>
        <td> <b>Loại RAM</b> </td>
        <td> @Html.TextBoxFor(bxl => bxl.TocDoToiDa, new { @class = "style" })</td>
    </tr>
    <tr>
        <td> <b>Bus RAM</b></td>
        <td>  @Html.TextBoxFor(bxl => bxl.BoNhoDem, new { @class = "style" })</td>
    </tr>
</table>
    <br />
    <div style="text-align: center">  <input type="submit" value="Thêm bộ xử lý" /></div>
}
<div style="font-size: 12px;">
    <a asp-action="Index">Trở về</a>
</div>


<style>
    .style {
        text-align: center;
        width: 70%;
    }

    .b {
        width: 300px;
    }
</style>