@model DoAn_CuaHangLaptop.Models.BoXuLy

@{
    ViewData["Title"] = "Details";
    var boxuly = ViewData["BoXuLy"] as BoXuLy;
    Layout = "/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div class="card-body">

    <h1 style="text-align: center; color: coral;">Thông tin bộ xử lí</h1>
    <hr />
    <div>

        <dl class="row">
            <dt class="col-sm-2">
                Công nghệ CPU:
            </dt>
            <dd class="col-sm-10">

                @boxuly.CongNgheCPU
            </dd>
            <dt class="col-sm-2">
                Số nhân:
            </dt>
            <dd class="col-sm-10">
                @boxuly.SoNhan
            </dd>
            <dt class="col-sm-2">
                Số luồng:
            </dt>
            <dd class="col-sm-10">
                @boxuly.SoLuong
            </dd>
            <dt class="col-sm-2">
                Tốc độ CPU:
            </dt>
            <dd class="col-sm-10">
                @boxuly.TocDoCPU
            </dd>
            <dt class="col-sm-2">
               Tốc độ tối đa:
            </dt>
            <dd class="col-sm-10">
                @boxuly.TocDoToiDa
            </dd>
            <dt class="col-sm-2">
                Bộ nhớ đệm:
            </dt>
            <dd class="col-sm-10">
                @boxuly.BoNhoDem
            </dd>
        </dl>
    </div>
    <br />
    <div>
        @Html.ActionLink("Cập nhật", "Edit", new { id = @boxuly.MaBXL }) |
        <a asp-action="Index">Trở về</a>
    </div>
</div>
