@model IEnumerable<DoAn_CuaHangLaptop.Models.BoXuLy>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout1.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CongNgheCPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TocDoCPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TocDoToiDa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoNhoDem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CongNgheCPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TocDoCPU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TocDoToiDa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoNhoDem)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.MaBXL }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaBXL }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaBXL }, new { onclick = "return confirm('Bạn chắc chắn muốn xóa ?');" })
            </td>
        </tr>
}
    </tbody>
</table>
