@model PhatTrienWeb_Laptop.Models.ManHinh

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_Layout2.cshtml";
}

<h1>Create</h1>

@using (Html.BeginForm("Create", "ManHinh", new { style = "border:1px solid red; " }))
{
    <table class="table" , style="text-align:center;">
        <tr>
            <td> <b>Kích thước</b></td>
            <td> @Html.TextBoxFor(mh => mh.KichThuoc, new { @class = "style" })</td>
        </tr>
        <tr>
            <td> <b>Độ phân giải</b> </td>
            <td> @Html.TextBoxFor(mh => mh.DoPhanGiai, new { @class = "style" })</td>
        </tr>
        <tr>
            <td> <b>Tần số quét</b></td>
            <td>  @Html.TextBoxFor(mh => mh.TanSoQuet, new { @class = "style" })</td>
        </tr>
        <tr>
            <td> <b>Công nghệ màn hình</b></td>
            <td>  @Html.TextBoxFor(mh => mh.CongNgheMH, new { @class = "style" })</td>
        </tr>
        <tr>
            <td> <b>Cảm ứng</b> </td>
            <td> @Html.TextBoxFor(mh => mh.CamUng, new { @class = "style" })</td>
        </tr>
     
    </table>
    <br />
    <div style="text-align: center">  <input type="submit" value="Thêm màn hình" /></div>
}
<div style="font-size: 12px;">
    <a asp-action="Index">Trở về</a>
</div>


<style>
    .style {
        text-align: center;
        width: 70%;
    }

    .b {
        width: 300px;
    }
</style>