@model DoAn_CuaHangLaptop.Models.ManHinh

@{
    ViewData["Title"] = "Details";
    var manhinh = ViewData["ManHinh"] as ManHinh;
    Layout = "/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div class="card-body">

    <h1 style="text-align: center; color: coral;">Thông tin màn hình</h1>
    <hr />
    <div>

        <dl class="row">
            <dt class="col-sm-2">
                Kích thước:
            </dt>
            <dd class="col-sm-10">

                @manhinh.KichThuoc
            </dd>
            <dt class="col-sm-2">
                Độ phân giải:
            </dt>
            <dd class="col-sm-10">
                @manhinh.DoPhanGiai
            <dt class="col-sm-2">
                Tần số quét:
            </dt>
            <dd class="col-sm-10">
                @manhinh.TanSoQuet
            </dd>
            <dt class="col-sm-2">
                Công nghệ màn hình:
            </dt>
            <dd class="col-sm-10">
                @manhinh.CongNgheMH
            </dd>

            <dt class="col-sm-2">
                Cảm ứng:
            </dt>
            <dd class="col-sm-10">
                @manhinh.CamUng
            </dd>

        </dl>
    </div>
    <br />
    <div>
        @Html.ActionLink("Cập nhật", "Edit", new { id = @manhinh.MaMH }) |
        <a asp-action="Index">Trở về</a>
    </div>
</div>
