@model DoAn_CuaHangLaptop.Models.BoNhoRAM

@{
    ViewData["Title"] = "Edit";
    var bonhoram = ViewData["BoNhoRam"] as BoNhoRAM;
    Layout = "/Views/Shared/_Layout2.cshtml";
}

<h1>Edit</h1>

<h4>BoNhoRAM</h4>
<hr />
<div class="card-body">

    <h1 style="text-align: center; color: coral;">Cập nhật thông tin</h1>
    <hr />

    @using (Html.BeginForm("Edit", "BoNhoRam", new { style = "border:1px solid red; " }))
    {
        <table class="table" , style="text-align:center;">
            <tr style="display: none;">
                <td> <b>Mã RAM</b></td>
                <td><input type="text" id="maRAM" name="maRAM" value="@bonhoram.MaRAM" style="width: 70%;"></td>
            </tr>
            <tr>
                <td> <b>Dung lượng</b></td>
                <td><input type="text" id="dungLuongRAM" name="dungLuongRAM" value="@bonhoram.DungLuongRAM" style="width: 70%;"></td>
            </tr>
            <tr>
                <td> <b>Loại RAM</b></td>
                <td><input type="text" id="loaiRAM" name="loaiRAM" value="@bonhoram.LoaiRAM" style="width: 70%;"></td>
            </tr>
            <tr>
                <td> <b>Bus RAM</b> </td>
                <td>  <input type="text" id="BusRAM" name="BusRAM" value="@bonhoram.BusRAM" style="width: 70%;"></td>
            </tr>
            <tr>
                <td> <b>Hỗ trợ tối đa</b></td>
                <td>  <input type="text" id="hoTroToiDa" name="hoTroToiDa" value="@bonhoram.HoTroToiDa" style="width: 70%;"></td>
            </tr>
        </table>
        <br />
        <div style="text-align: center"> <input type="submit" value="Cập nhật" /></div>
    }


    <div>
        <a asp-action="Index">Trở về</a>
    </div>

</div>