@model IEnumerable<PhatTrienWeb_Laptop.Models.BoNhoRAM>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_Layout1.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.MaRAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DungLuongRAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiRAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusRAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTroToiDa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaRAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DungLuongRAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiRAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusRAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTroToiDa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaRAM }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaRAM }) |
                @*   @Html.ActionLink("Delete", "Delete", new { id = item.MaRAM }, new { onclick = "return confirm('Bạn chắc chắn muốn xóa ?');" })*@
                @*<form asp-action="Index" method="post">
            <input type="hidden" id="maRam" name="maRam" value="modelItem => item.MaRAM" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>*@
                @using (Html.BeginForm("Delete", "BoNhoRam"))
                {
                    <div style="text-align: center"> <input type="submit" value="xóa" /></div>
                }
            </td>
        </tr>
}
    </tbody>
</table>
